@{
    ViewData["Title"] = "GetByIdMembersInformation";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--**********************************
    Content body start
***********************************-->
<div class="content-body">

    @* <div class="row page-titles mx-0">
    <div class="col p-md-0">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
    </ol>
    </div>
    </div>
    <!-- row -->*@

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form action="#" id="step-form-horizontal" class="step-form-horizontal">
                    <div>
                        <!-- Section 1 Start-->
                        <h4>Detaylı Danışan Bilgileri:</h4>
                        <section>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="nameSurname">
                                    Ad Soyad
                                </label>
                                <div class="col-lg-6 ">
                                    <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="Ad Soyad" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="nameSurname">
                                    Doğum Tarihi
                                </label>
                                <div class="col-lg-6 ">
                                    <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="Doğum Tarihi" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="nameSurname">
                                    Mesleği
                                </label>
                                <div class="col-lg-6 ">
                                    <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="Mesleği" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="nameSurname">
                                    Cep Telefonu
                                </label>
                                <div class="col-lg-6 ">
                                    <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="Cep Telefonu" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="nameSurname">
                                    E-Posta Adresi
                                </label>
                                <div class="col-lg-6 ">
                                    <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="E-Posta Adresi" disabled>
                                </div>
                            </div>
                        </section>
                        <!-- Section 1 End-->
                        <!-- Section 2 Start-->
                        <h4>Bilgi Formu Adım 2</h4>
                        <section>
                            <div class="row">
                                <div class="col-6">
                                    <h5>Aile de olan, bilinen hastalıklar:</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Kilo Öykünüz
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Kilo Öykünüz
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            DM (Şeker Hastalığı)
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" checked disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Kalp / Tansiyon
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Tiroid
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Hormon Düzensizliği
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Kanser
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Gut
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Epilepsi
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Teşhisi konulmuş bir hastalık var mı?
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h5>Bir günlük beslenme alışkanlığı:</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Sabah
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Sabah
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Sabah Ara
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Sabah Ara
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Öğlen
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Öğlen
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Öğlen Ara
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Öğlen Ara
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Akşam
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Akşam
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Akşam Ara
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Akşam Ara
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Geçmişte yapılan bir diyetin bir gününü
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Geçmişte yapılan bir diyetin bir gününü
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Section 2 End-->
                        <!-- Section 3 Start-->
                        <h4>Bilgi Formu Adım 3</h4>
                        <section>
                            <div class="row">
                                <div class="col-6">
                                    <h5>Bir günde tüketilen sıvı miktarı:</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Su
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="Su" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Çay
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="Çay" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Kahve
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="Kahve" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Gazlı İçecekler
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="Gazlı İçecekler" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Alkol
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="Alkol" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Sigara kullanıyor mu?
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Bırakıldıysa bu süreçte kilo alındı mı?
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="True" data-off="False" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h5>Sevilen, sevilmeyen ve alerjisi olduğu yiyecekler nelerdir?:</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Sevdikleri
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Sevdikleri
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Sevmedikleri
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Sevmedikleri
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Alerjisi olan
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Alerjisi olan
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Yemekleri evde mi, dışarıda mı yersiniz?
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Yemekleri evde mi, dışarıda mı yersiniz?
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Evde yemekleri kim yapıyor? İşyerinize yemek götürebilir misiniz?
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Evde yemekleri kim yapıyor? İşyerinize yemek götürebilir misiniz?
                                        </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Section 3 End-->
                        <!-- Section 4 Start-->
                        <h4>Bilgi Formu Adım 4</h4>
                        <section>
                            <div class="row">
                                <div class="col-6">
                                    <h5>Sosyal hayatınızda haftaiçi - haftasonu hangi saatlerde yemek yersiniz? Hangi yemekleri tercih edersiniz?</h5>
                                    <h6>Haftaiçi</h6>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Sabah :
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="Sabah" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Öğle :
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="Öğle" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Akşam :
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="Akşam" disabled>
                                        </div>
                                    </div>
                                    <h6>Haftasonu</h6>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Sabah :
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="Sabah" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Öğle :
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="Öğle" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Akşam :
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="Akşam" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h5>Ruh haliniz beslenmenizi nasıl etkiler? :</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Üzüntülü olduğumda yerim
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" checked disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Stresli olduğumda yerim
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Depresif olduğumda yerim
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Mutlu olduğumda yerim
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Yukarıdakilerin hepsi
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Section 4 End-->
                        <!-- Section 5 Start-->
                        <h4>Bilgi Formu Adım 5</h4>
                        <section>
                            <div class="row">
                                <div class="col-6">
                                    <h5>
                                        Kadınsanız
                                    </h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Mensturasyon
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Mensturasyon
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Menapoz
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Menapoz
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Hamilelik
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Hamilelik
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Emzirme
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Emzirme
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Şu anda emzirme döneminde misiniz?
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Şu anda emzirme döneminde misiniz?
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Mensturasyonunuz düzenli mi?
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Mensturasyonunuz düzenli mi?
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Herhangi bir hormon tedavisi görüyor musunuz? Gördünüz mü?
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Herhangi bir hormon tedavisi görüyor musunuz? Gördünüz mü?
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="contents">
                                            Doğum yaptınız mı? (normal - sezeryan) Kaç kere?
                                        </label>
                                        <div class="col-lg-6 ">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Doğum yaptınız mı? (normal - sezeryan) Kaç kere?
                                        </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h5>Erkekseniz</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Hangi koşullarda yemek ihtiyacınızın değiştiğini not ediniz
                                        </label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Hangi koşullarda yemek ihtiyacınızın değiştiğini not ediniz
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Askerlik döneminde kilo aldınız mı?
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Section 5 End-->
                        <!-- Section 6 Start-->
                        <h4>Bilgi Formu Adım 6</h4>
                        <section>
                            <div class="row">                                
                                <div class="col-4">     
                                    <h5>Sindirim sistemi ile ilgili probleminiz var mı? :</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Reflü özofajit (Mide yanması)
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" checked disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Yutma güçlüğü (Difaji)
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Ağıza yiyeceklerin gelmesi (Regürjitasyon)
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Mide fıtığı (Sürekli açlık-kazıntı)
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Bulantı - kusma hazımsızlık (Dispepsi)
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Helikopbacter pylori (Mide mikrobu) (Mide ağrısı)
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Gastrit
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="col-4">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Ülser
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Mide kanseri
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Mide kanseri
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Bağırsak tıkanması
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" checked disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Akut ishaller
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Sürekli ishaller (Kronik diyare)
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Kabızlık (Constipation)
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">                                    
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Spastik kolon (İrritabi bağırsak sendromu)
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Karında gaz - şişkinlik
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Bağırsak parazitleri
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Kolitis ülseroza (Ülseratif kolit)
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Crohn hastalığı
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Kalın bağırsak kanseri (Kolon kanseri)
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Section 6 End-->
                        <!-- Section 7 Start-->
                        <h4>Bilgi Formu Adım 7</h4>
                        <section>
                            <div class="row">
                                <div class="col-4">
                                    <h5>Kalp - damar hastalıklarınız var mı? :</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Hipertansiyon
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" checked disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Hipotansiyon
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Çarpıntı
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Kalp hastalığı
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <h5>Şeker hastalığınız var mı?</h5>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Hipoglisemi
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Tip 1 diabet
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Tip 2 diabet
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="checkbox" class="form-control" data-toggle="toggle" data-on="Evet" data-off="Hayır" data-width="75" data-height="30" data-onstyle="success" data-offstyle="danger" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Kan pıhtılaşma probleminiz var mı?
                                        </label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Kan pıhtılaşma probleminiz var mı?
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Hormonal bir probleminiz var mı? (Triod, kadınlık hormonu, kortizol v.s.)
                                        </label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Hormonal bir probleminiz var mı? (Triod, kadınlık hormonu, kortizol v.s.)
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Kendinizi nasıl hissediyorsunuz?
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="Çok sağlıklı" disabled>
                                        </div>
                                    </div>                                                                        
                                </div>
                                <div class="col-4">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Enerjiniz nasıl?
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="Çok iyi" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Hangi ifade aktivite sıklığınızı belirler?
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="Düzenli yürüyüş / spor" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Bir gün boyunca ne kadar taze meyve ve sebze yiyorsunuz?
                                        </label>
                                        <div class="col-lg-6 ">
                                            <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="3 - 4 Porsiyon" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Düzenli kullandığınız bir ilaç var mı?
                                        </label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Düzenli kullandığınız bir ilaç var mı?
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Vitamin - mineral kullanıyor musunuz?
                                        </label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Vitamin - mineral kullanıyor musunuz?
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="nameSurname">
                                            Kendinizle ilgili bilgi vermek istediğiniz başka konu var mı?
                                        </label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control" id="contents" name="contents" rows="1" disabled>
                                                Kendinizle ilgili bilgi vermek istediğiniz başka konu var mı?
                                        </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Section 7 End-->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->
