
@{
    ViewData["Title"] = "NavigationCreate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!--**********************************
           Content body start
       ***********************************-->
<div class="content-body">

    @*  <div class="row page-titles mx-0">
    <div class="col p-md-0">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
    </ol>
    </div>
    </div>
    <!-- row -->*@

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" method="post" asp-controller="GeneralOptions" asp-action="NavigationCreate">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="parent">
                                        Parent
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="parent" name="parent">
                                            <option>Seçiniz!</option>
                                            @foreach (var item in Model.Navigations)
                                            {
                                                <option value="@item.Id">@item.NavigationName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="orderNo">
                                        OrderNo
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="orderNo" name="orderNo">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="metaTitle">
                                        MetaTitle <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="metaTitle" name="metaTitle" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="metaKey">
                                        MetaKey
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="metaKey" name="metaKey">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="urlRoot">
                                        UrlRoot
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="urlRoot" name="urlRoot">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="navigationName">
                                        NavigationName <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="navigationName" name="navigationName" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="controller">
                                        Controller
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="controller" name="controller">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="action">
                                        Action
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="action" name="action">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="fontAwesomeIcon">
                                        FontAwesomeIcon
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="fontAwesomeIcon" name="fontAwesomeIcon">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="isHeader">
                                        IsHeader
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="isHeader" name="isHeader">
                                            <option>Seçiniz!</option>
                                            <option value="True">True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="isSubHeader">
                                        IsSubHeader
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="isSubHeader" name="isSubHeader">
                                            <option>Seçiniz!</option>
                                            <option value="True">True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="langId">
                                        Language <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="langId" name="langId" required>
                                            <option>Seçiniz!</option>
                                            @foreach (var item in Model.Languages)
                                            {
                                                <option value="@item.Id">@item.Language</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="isAdmin">
                                        IsAdmin
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="isAdmin" name="isAdmin">
                                            <option value="False">Seçiniz!</option>
                                            <option value="True">True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="isActive">
                                        IsActive
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="isActive" name="isActive">
                                            <option value="False">Seçiniz!</option>
                                            <option value="True">True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="submit" class="btn btn-primary">Kaydet</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->
