
@{
    ViewData["Title"] = "TaylanKumeliKimdir";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section id="page-title" class="page-title-mini">

    <div class="container clearfix">
        <h1>P. Taylan Kümeli Kimdir?</h1>
        <span>Diyetisyen Taylan Kümeli Hakkında</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
            <li class="breadcrumb-item"><a href="#">Hakkımızda</a></li>
            <li class="breadcrumb-item active" aria-current="page">Taylan Kümeli Kimdir?</li>
        </ol>
    </div>

</section>

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div id="side-navigation" class="row" data-plugin="tabs">

                <div class="col-lg-3">
                    <ul class="sidenav">
                        <li><a href="#taylankumeli">Taylan Kümeli Kimdir?<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#mektup">Taylan Kümeli'den Mektup<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#kitaplar">Taylan Kümeli Kitapları<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#medya">Sosyal Medya | Basın<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#youtube">Taylan Kümeli Youtube Kanalı<i class="icon-chevron-right"></i></a></li>

                    </ul>
                </div>

                <div class="col-lg-9">
                    <div id="taylankumeli">
                        <blockquote class="quote blockquote-reverse mb-0">
                            <p>Beslenme doğduğumuz andan itibaren vazgeçilmezimizdir ama aynı zamanda bizim tamamlayıcımız, şekillendiricimiz, aklımız, ışıltımız ve yaşama tutunma biçimimizdir.</p>
                            <footer class="blockquote-footer">Taylan Kümeli, TK Taylight Ltd.</footer>
                        </blockquote>
                        <h3>Taylan Kümeli Hakkında</h3>
                        <img class="alignright img-responsive" src="~/UI/images/_taylan/page/taylan_kumeli_kimdir.jpg" title="Diyetisyen Taylan Kümeli" alt="Diyetisyen ve Sağlıklı Beslenme Uzmanı Taylan Kümeli" />

                        <p>1986 yılında Hacettepe Üniversitesi Beslenme ve Diyetetik bölümünden dereceyle mezun oldu. 1986 - 88 yılları arasıda ODTÜ Gıda Mühendisliği fakültesinde "Gıda Katkı Maddelerinin İnsan Sağlığına Etkileri" adlı çalışmasıyla uzman diyetisyen ünvanını aldı. 1999 yılına kadar yurtiçinde ve yurtdışında çeşitli hastaneler, kurumlarda uzman diyetisyen olarak görev yaparken akademik kariyeriyle ilgili eğitimine devam etti.</p>
                        <p>2000 yılının Ağustos ayında TKTaylight Beslenme ve Danışmanlık Merkezini kurdu. Klinik diyetisyenliği çalışmalarında; kilo verme - kilo alma, hastalıklarda beslenme, hamile - emziren beslenmesi, yaş gruplarına göre beslenme, fonksiyonel besinler konusunda binlerce danışana danışmanlık hizmetleri yaptı / yapmaktadır.</p>
                        <p>Klinik diyetisyenliği çalışmalarını sürdürürken; Sentez Diyeti - 1/2, Hayatın Sağlıklı Yanı, Kadınlık Yolculuğunda Beslenme, 0 - 18 yaş beslenmesi, Lezzetin İnanılmaz Hafifliği, Taylan Kümeli’den Püf Lokmaları, Taytay’ın Beslenme Çantası kitaplarını yazdı.</p>

                        <p>Ülkemizde ve yurtdışında yazdığı binlerce makalesi yayınlanırken, ülkemizde ve yurtdışında yaptığı bilimsel içerikli beslenmeye dair konularla konuşma, seminer ve workshoplara katıldı.</p>
                        <p>2015 yılında Kids in the Kitchen adlı 5 - 11 yaş grubu çocuklara yönelik sağlıklı beslenme atölyeleri, özel ve devlet okullarında da eğitimleri içeren bir çalışma başlattı. Aynı çalışmayı Mutfaktaki Çocuklar başlığıyla MEB bünyesinde sürdürmektedir.</p>

                        <p>TV8, NTV, ATV gibi ulusal kanallarda uzun yıllar kendine ait programlar yaptı. Hali hazırda 13 bölümlük "Taylan Kümeli’den Püf Lokmaları" Bein Gurme TV Kanalında yayınlanmaktadır.</p>

                        <p>Milliyet, Sözcü Gazetelerinde yıllarca yine "Taylan Kümeli’den Püf Lokmaları" başlıklı köşesinde yazıları yayınlandı. Şu anda Cumhuriyet Gazetesi Cumartesi ekinde yazmaya devam etmektedir.</p>

                        <p>Bilimsel bilgilendirmelerine haftalık olarak yayınlanan youtube videolarıyla devam etmektedir. İnstagram, Twitter, Taylan Kümeli’den Sağlıklı Yaşam Facebook sayfalarında izleyenleriyle, beslenmeye dair yenilikleri günlük, haftalık periyotlarda paylaşmaktadır. "Taylan Kümeli’den Püf Lokmaları" başlığı altında podcast çalışmaları da baslamıştır.</p>

                        <p>"Tat Atlası" adlı kitabıyla beslenme bilimine yeni bir bakış açısı getirmeyi planlayan Kümeli, çok yakında Tat Atölyeleriyle bu yeni kavramı danışanlarıyla buluşturacakdır. Taylan Kümeli bunun yanısıra Gedik Üniversitesi'nde "Nasıl Saglıklı Besleniriz" adlı 8 haftalık online eğitim vermektedir.</p>


                    </div>
                    <div id="mektup">
                        <h3>Merhaba</h3>
                        <img class="alignright img-responsive" src="~/UI/images/_taylan/page/taylan_kumeli_yazisi.jpg" title="Taylan Kümeli'den Mektup Var" alt="Diyetisyen ve Sağlıklı Beslenme Uzmanı Taylan Kümeli" />

                        <p>Meslek hayatımdaki 34 yıl boyunca beslenmeye dair tüm karmaşık bilgilendirmeleri degiştirmek, yaşamın sağlıklı yanını ön plana çıkarmak, insanların yemekle olan ilişkilerini düzeltmek adeta birinci önceliğim haline geldi.</p>
                        <p>Sağlıklı beslenmeye ve bilime olan aşkım, ta çocukluk yıllarımdan başladı. Öyle ki, "büyünce ne olacaksın" sorusuna hep bilim kadını cevabını verirdim. Ve bu aşk ile Hacettepe Üniversitesi Beslenme ve Diyetetik bölümünden derece ile mezun oldum. Hala da aynı aşkla öğrenmeye ve öğretmeye devam etmekteyim.</p>
                        <p>Mesleğime başladığım andan itibaren, bugüne kadar aldığım çeşitli eğitimlerde beslenmenin farklı boyutlarını öğrendim, multidisipliner yanlarını tanıdım ve bizim için neyin iyi, neyin uzun vadede kötü olduğunu araştırıp durdum. Çünkü bu konudaki tutkumu ve hevesimi gelecek nesillere de aktarmak, sahip olduğum bilgilerin insanlara yardım edebilecek olmasını bilmek benim için çok degerli.</p>

                        <p>Bilmenizi isterim ki siz, benim için önemlisiniz. Amacım sizi sağlıklı eğilimlere yönlendirirken, sağlıklı beslenmenin aslında korkulacak bir şey olmadığını, beslenmenin en temeline inerek ve hayatınızda pozitif değişiklikler yaparak, yepyeni bir yaşam tarzı oluşturabileceğinizi anlatmaktır.</p>

                        <p>Sağlıklı beslenme dolabınızdaki siyah pantalon, beyaz gömlek gibidir. Temel kuralları belli, sizin ona katacağınız küçük dokunuşlarla aynılıklar içinde farklılıklar yaşarsınız.</p>

                        <p>Birlikte çıkacağımız beslenme yolculuğunda; karşılaşacağınız tüm engellerin sizin için bir zenginlik olduğunu size öğretecegim.</p>

                        <p>Vücudunuzu tanıyıp, onun ne istediğini öğrenmeye başladığınızda, buna devam etmenizi ve sürdürmenizi amaçlarız, çünkü uzun vadede size sağlık ve canlılık sağlayan yegâne yer vücudunuzdur. Bu sistemi sürdürdüğünüzde, yemek ile olan ilişkinizi düzenleyerek, "ne yersen o'sun" kalıbını anlayıp, isteseniz de istemeseniz de bir şeyleri değiştirmenin önemini, sizi yıkan ve toparlayan özelliklerinizi keşfetmeye başlıyorsunuz.</p>
                        <h4>Bütün bu saydıklarıma ulaşmak için size sunabileceğim çözümler;</h4>
                        <ul>
                            <li>Farkındalığınızın dışında gizlenmiş, çabalarınızı sabote edebilecek olumsuz düşünce ve kalıplaşmış inançlardan sizi kurtararak, değişim ve dönüşüm yolunda ihtiyacınız olan pozitif enerjiyi geri kazanmanıza yardımcı olmak.</li>
                            <li>Olumlu bir değişim süreci için, vücudunuzu tanıyıp onun neye ihtiyacı olduğunu anlamanızı sağlamak. Çünkü bunun arkasındaki "neden" sorusunu bilemezseniz, bu süreç sizin için yalnızca kağıt üzerinde ve takip edilmek zorunda olan bir ayrıntı olacaktır.</li>
                            <li>Koşullarınıza doğrudan hitap eden size özel bir beslenme planı hazırlamak ve size bunu benimsetmeye yardımcı olurken, ilerlemenizi zorlayacak adımları birlikte aşmak.</li>
                            <li>Kendinize güvenip, inanmanıza yardımcı olmak, böylece sizi istediğiniz dönüşüme ulaştırmak. Birlikte yeni bir "Ben" yaratmak.</li>
                            <li>Yaşamın sadece yemekten oluşmadığını ve yemekle ilişkimizin dostluğa dönüştüğünü paylaşacağımız bir süreç geçirmek.</li>
                            <li>Başlangıç ve bitiş kilonuz arasındaki beslenme davranış değişikliğini güncel bilgilerle hayatınızın içinde var etmek.</li>
                            <li>Özetle; "Beslenme doğduğumuz andan itibaren vazgeçilmezimizdir ama aynı zamanda bizim tamamlayıcımız, şekillendiricimiz, aklımız, ışıltımız ve yaşama tutunma biçimimizdir."</li>
                        </ul>
                        <div class="style-msg2 style-msg-light" style="background-color: #444;">
                            <div class="msgtitle">Klinik Çalışmalarımdan Bazıları <i class="icon-pencil2"></i></div>
                            <div class="sb-msg">
                                <ul>
                                    <li>Kilo Verme / Kilo Alma</li>
                                    <li>Diyabet Beslenmesi</li>
                                    <li>Kalp Damar Hastalıklarında Beslenme</li>
                                    <li>Kanser ve Beslenme</li>
                                    <li>Sindirim Sistemi Hastalıklarında Beslenme</li>
                                    <li>Bebek, Çocuk, Erişkin Beslenmesi</li>
                                    <li>Hamile ve Emziren Anne Beslenmesi</li>
                                    <li>Menopozda Beslenme</li>
                                    <li>Metabolik Rahatsızlıklarda Beslenme</li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div id="kitaplar">
                        <h3>Taylan Kümeli Kitapları</h3>

                        <ul class="clients-grid grid-3 mb-0">
                            <li class="grid-item"><a href="#"><img src="~/UI/images/_taylan/kitaplar/taytay_beslenme_cantasi_taylan_kumeli_kitap.png" title="Tay Tay'ın Beslenme Çantası" alt="Tay Tay'ın Beslenme Çantası"></a></li>
                            <li class="grid-item"><a href="#"><img src="~/UI/images/_taylan/kitaplar/taylan_kumeli_ve_ceren_yilmaz_puf_noktalari_kitap.png" title="Taylan Kümeli ve Ceren Yıldız Püf Lokmaları Kitabı" alt="Taylan Kümeli'den Püf Noktaları Kitabı" /></a></li>
                            <li class="grid-item"><a href="#"><img src="~/UI/images/_taylan/kitaplar/lezzetin_inanilmaz_hafifligi_taylan_kumeli_kitap.png" title="Lezzetin İnanılmaz Hafifliği Kitabı" alt="Taylan Kümeli ve Elif Ezgi Uzmansel Kitabı" /></a></li>
                            <li class="grid-item"><a href="#"><img src="~/UI/images/_taylan/kitaplar/taylan_kumeli_sentez_diyeti_ikinci_edition_kitap.png" title="Taylan Kümeli Sentez Diyeti" alt="Taylan Kümeli Sentez Diyeti" /></a></li>
                            <li class="grid-item"><a href="#"><img src="~/UI/images/_taylan/kitaplar/kadinlik_yolculugunda_beslenme_taylan_kumeli_kitap.png" title="Taylan Kümeli'den Kadınlık Yolculuğunda Beslenme Kitabı" alt="Kadinlik Yolculugunda Beslenme Kitabi" /></a></li>
                            <li class="grid-item"><a href="#"><img src="~/UI/images/_taylan/kitaplar/bebeklikten_ergenlige_beslenme_taylan_kumeli_kitap.png" title="Bebeklikten Ergenliğe Sağlıklı Beslenme Rehberi" alt="Taylan Kümeli ile Bebeklikten Ergenliğe Sağlıklı Beslenme Rehberi" /></a></li>
                            <li class="grid-item"><a href="#"><img src="~/UI/images/_taylan/kitaplar/hayatin_saglikli_yani_beslenme_bilinci_taylan_kumeli_kitap.png" title="Taylan Kümeli ile Beslenme Bilinci" alt="Hayatın Sağlıklı Yanı - Beslenme Bilinci Kitabı" /></a></li>
                            <li class="grid-item"><a href="#"><img src="~/UI/images/_taylan/kitaplar/taylan_kumeli_sentez_diyeti_kitap.png" title="Sentez Diyeti ile Kilo Verin" alt="Sentez Diyeti" /></a></li>


                        </ul>



                    </div>

                    <div id="medya">

                        <div class="promo promo-dark bg-color p-4 p-md-5 mb-5">
                            <div class="row align-items-center">
                                <div class="col-12 col-lg">
                                    <h3>Medya'da Taylan Kümeli</h3>
                                    <span>Medyada çıkan Taylan Kümeli haberleri ve yazıları için lütfen Medya Yansımaları sayfamızı ziyaret ediniz.</span>
                                </div>
                                <div class="col-12 col-lg-auto mt-4 mt-lg-0">
                                    <a href="#" class="button button-border button-light button-rounded m-0">Medya Yansımaları</a>
                                </div>
                            </div>
                        </div>
                        <div class="fancy-title title-border">
                            <h4>Instagram</h4>
                        </div>

                        <div id="instagram-photos" class="instagram-photos masonry-thumbs grid-container grid-4 customjs" data-user="taylankumelitk"></div>



                    </div>

                    <div id="youtube">
                        <div id="w-video" class="widget clearfix">

                            <h4 class="highlight">Taylan Kümeli'den Püf Lokmaları Kanalı Youtube'da.</h4>
                            <div class="fluid-width-video-wrapper" style="padding-top: 50%;"><iframe src="https://www.youtube.com/embed/1pDbDwSRn5c" allow="autoplay; fullscreen" allowfullscreen="" id="fitvid0"></iframe></div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>