<style>
    .banner {
        padding: 5px;
        border-left: 1px solid #EEE;
        border-right: 1px solid #EEE;
    }

        .banner a,
        .banner img {
            display: block;
        }
</style>

<div id="quote" class="banner">
    <img loading="lazy" src="~/Upload/@ViewBag.ImageUrl" style="max-height:90px" title="Taylan Kümeli Sözleri" />
</div>
