@{
    ViewData["Title"] = "CalenderEventList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="content-body">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Calendar</h4>
                        </div>
                        <div class="row">
                            
                            <div class="col-lg-12" style="background-color: powderblue;">
                                <div class="card-box m-b-6">
                                    <div id="calendar"></div>
                                </div>
                            </div>

                            <!-- BEGIN MODAL -->
                            <div class="modal fade none-border" id="event-modal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="ModalTitle"><strong>Add New Event</strong></h4>
                                        </div>
                                        <div class="modal-body">

                                            <form class="form-valide" accept-charset="utf-8" enctype="multipart/form-data">
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="membersId1">
                                                        Danışan
                                                    </label>
                                                    <label class="col-lg-4 col-form-label" id="membersId" for="membersId">

                                                    </label>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="userId1">
                                                        Diyetisyen
                                                    </label>
                                                    <label class="col-lg-4 col-form-label" id="userId" for="userId">

                                                    </label>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="appointmentDate1">
                                                        Randevu Tarihi <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="date" class="form-control dobpicker" id="appointmentDate" name="appointmentDate" data-date-format="yyyy-MM-dd" placeholder="Gün/Ay/Yıl" required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="appointmentTime1">
                                                        Randevu Saati <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-6">
                                                        <input type="time" class="form-control" id="appointmentTime" name="appointmentTime" required>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-success save-event waves-effect waves-light">Create event</button>
                                        <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete</button>
                                    </div>
                                </div>
                            </div>
                            <!-- END MODAL -->
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('#calendar').fullCalendar({
        monthNames: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
        monthNamesShort: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
        dayNames: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
        dayNamesShort: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
        editable: true,
        buttonText: {
            today: 'Bugün',
            month: 'Ay',
            week: 'Hafta',
            day: 'Gün',
            list: 'Liste',
            listMonth: 'Aylık Liste',
            listYear: 'Yıllık Liste',
            listWeek: 'Haftalık Liste',
            listDay: 'Günlük Liste'
        },
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,basicWeek,basicDay'
        },
        navLinks: true,
        editable: true,
        eventLimit: true,
        events: @Json.Serialize(@Model.D_Appointments),
        eventClick: function (info) {
            $("#event-modal").modal('show');

            $('.dobpicker').datepicker({
                autoclose: true,
            });

            $('#ModalTitle').text(info.title + "  Randevu Bilgileri");

            var member = document.getElementById('membersId');
            member.textContent = info.title;

            var user = document.getElementById('userId');
            user.textContent = info.description;
            
            var datetime = new Date(info.start._i);

            var appointmentDate = document.getElementById('appointmentDate');
            appointmentDate.setAttribute('value', new Date(datetime).toISOString().slice(0, 10));

            var appointmentTime = document.getElementById('appointmentTime');
            appointmentTime.setAttribute('value', datetime.getHours() + ":" + datetime.getMinutes());
        },
    });
</script>