
@{
    ViewData["Title"] = "TKBiographyCreate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--**********************************
           Content body start
       ***********************************-->
<div class="content-body">

    @*  <div class="row page-titles mx-0">
    <div class="col p-md-0">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
    </ol>
    </div>
    </div>
    <!-- row -->*@

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" method="post" asp-controller="YoneticiIslemleri" asp-action="TKBiographyCreate" accept-charset="utf-8" enctype="multipart/form-data">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="about">
                                        Hakkımızda <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" id="about" name="about" required> </textarea>
                                    </div>                                    
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="bio">
                                        Bio <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" id="bio" name="bio" required > </textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="companyName">
                                        Firma Adı <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="companyName" name="companyName" maxlength="250" min="2" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="adress">
                                        Adres <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" id="adress" name="adress" required> </textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="phone1">
                                        Telefon 1 <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="phone1" name="phone1" maxlength="24" min="2" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="phone2">
                                        Telefon 2
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="phone2" name="phone2" maxlength="24" min="2" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="email1">
                                        Email 1 <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="email" class="form-control" id="email1" name="email1" maxlength="250" min="2" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="email2">
                                        Email 2 
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="email" class="form-control" id="email2" name="email2" maxlength="250" min="2">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="FormFile">
                                        Logo <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6 ">
                                        <div class="fallback dropzone">
                                            <input class="l-border-1" type="file" name="FormFile" id="FormFile" accept=".png,.jpg,.jpeg" runat="server" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="googleMap">
                                        Google Map 
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="googleMap" name="googleMap" maxlength="250" min="2" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="instagram">
                                        Instagram 
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="instagram" name="instagram" maxlength="250" min="2" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="facebook">
                                        Facebook 
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="facebook" name="facebook" maxlength="250" min="2" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="twitter">
                                        Twitter 
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="twitter" name="twitter" maxlength="250" min="2" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="pinterest">
                                        Pinterest 
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="pinterest" name="pinterest" maxlength="250" min="2" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="metatitle">
                                        Seo Başlığı <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="metatitle" name="metatitle" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="metakey">
                                        Seo Anahtarları <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="metakey" name="metakey" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="metadescription">
                                        Seo Açıklaması <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="metadescription" name="metadescription" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="langId">
                                        Dil <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="langId" name="langId" required>
                                            <option>Seçiniz!</option>
                                            @foreach (var item in Model.Languages)
                                            {
                                                <option value="@item.Id">@item.Language</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="statusId">
                                        Durumu <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="statusId" name="statusId" required>
                                            <option>Seçiniz!</option>
                                            @foreach (var item in Model.Statuses)
                                            {
                                                <option value="@item.Id">@item.StatusName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="submit" class="btn btn-primary">Kaydet</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->
