@using MVCBlogApp.Application.Abstractions.Services;
@inject IOperationService OperationService
@{
    int LangID = OperationService.SessionLangId();
    if (LangID == 1) { ViewData["Title"] = "Yemek Tarifleri"; } else if (LangID == 2) { ViewData["Title"] = "Recipes"; }
    Layout = "~/Views/Shared/_UILayout.cshtml";

}


@if (LangID == 2)
{
    <section id="page-title" class="page-title-mini">

        <div class="container clearfix">
            <h1>Recipes</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Main Page</a></li>

                <li class="breadcrumb-item active" aria-current="page">Recipes</li>
            </ol>
        </div>

    </section>

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">

                <div class="row gutter-40 col-mb-80">

                    <div class="sidebar col-lg-3">


                        @await Component.InvokeAsync("UIHomeSLeftNavigation")
                        <div class="sidebar-widgets-wrap">

                            @*<div class="promo promo-light promo-border p-4 p-md-5 mb-5">
                        <div class="row align-items-center">
                        <div class="col-12">
                        <h3><span class="text-danger">Taylan Kümeli</span> ile <span class="text-danger">Sağlıklı Beslenme</span></h3>
                        <span>"Beslenme doğduğumuz andan itibaren vazgeçilmezimizdir ama aynı zamanda bizim tamamlayıcımız, şekillendiricimiz, aklımız, ışıltımız ve yaşama tutunma biçimimizdir."</span>
                        </div>
                        <div class="col-12 mt-4">
                        <a href="#" class="btn btn-lg btn-danger">Hemen İncele</a>
                        </div>
                        </div>
                        </div>*@
                        </div>
                    </div>

                    <div class="postcontent col-lg-9 order-lg-last">
                        <div id="divYemekTarifleriPartialView"></div>

                        <div id="divYemekTarifleriPartialViewSpinner">
                            <div class="spinner-border text-primary"></div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>
}
else
{
    <section id="page-title" class="page-title-mini">

        <div class="container clearfix">
            <h1>Yemek Tarifleri</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>

                <li class="breadcrumb-item active" aria-current="page">Yemek Tarifleri</li>
            </ol>
        </div>

    </section>

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">

                <div class="row gutter-40 col-mb-80">

                    <div class="sidebar col-lg-3">


                        @await Component.InvokeAsync("UIHomeSLeftNavigation")
                        <div class="sidebar-widgets-wrap">

                            @*<div class="promo promo-light promo-border p-4 p-md-5 mb-5">
                        <div class="row align-items-center">
                        <div class="col-12">
                        <h3><span class="text-danger">Taylan Kümeli</span> ile <span class="text-danger">Sağlıklı Beslenme</span></h3>
                        <span>"Beslenme doğduğumuz andan itibaren vazgeçilmezimizdir ama aynı zamanda bizim tamamlayıcımız, şekillendiricimiz, aklımız, ışıltımız ve yaşama tutunma biçimimizdir."</span>
                        </div>
                        <div class="col-12 mt-4">
                        <a href="#" class="btn btn-lg btn-danger">Hemen İncele</a>
                        </div>
                        </div>
                        </div>*@
                        </div>
                    </div>

                    <div class="postcontent col-lg-9 order-lg-last">
                        <div id="divYemekTarifleriPartialView"></div>

                        <div id="divYemekTarifleriPartialViewSpinner">
                            <div class="spinner-border text-primary"></div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>
}



<script>
    $(document).ready(function () {

        getViewYemekTarifleri();

    });

    function getViewYemekTarifleri(page) {

        var requestDto = new Object();
        requestDto.page = page;

        if (page == undefined || page == null)
            requestDto.page = 1;

        $("#divYemekTarifleriPartialViewSpinner").show();

        $.ajax({
            type: "POST",
            url: "yemek-tarifleri-partial-view",
            data: requestDto,
            success: function (jsReturnArgs) {

                $("#divYemekTarifleriPartialView").append(jsReturnArgs.viewString); //the HTML I returned from the controller
                $("#divYemekTarifleriPartialViewSpinner").hide();

            },
            error: function (xhr, status, error) {
                $("#divYemekTarifleriPartialView").append("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                $("#divYemekTarifleriPartialViewSpinner").hide();
            }
            //error: function (errorData) { onError(errorData); }


        });
    }

</script>